body, p, table, tr, td, strong, h1, h2, h3, h4, h5, h6, blockquote, li {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:visited, a:active, a:hover, a:link {
   text-decoration: none;
}
/*h1, h2, h3, h4, h5, h6 {
  color: #A1C656; }
 */ 
#top-panel {
  background: #A1C656; }
  #top-panel td#login-field span a {
    background: none; }
  #top-panel td #searchform a {
    background: none;
    height: auto;
    width: auto; }
  #top-panel td > a {
    background: url("http://goncalo-almeida.github.io/smartbuildings_bar_logo_small.png") 0 0 no-repeat;
    display: block;
    width: 180px;
    height: 40px;
    margin: 10px 0 10px 10px; }
    #top-panel td > a img {
      display: none; }

/*#top-panel {
   background-image: url("http://goncalo-almeida.github.io/smartbuildings_bar_logo.png") !important;
   back
   background: #A1C656;
}*/

#top-panel img:first-child {
   display:none;
}

#search-box {
   margin-top: 8px;
}

#main-table {
   background-image: url("http://goncalo-almeida.github.io/SB_VECTOR_SQUARE.png") !important; 
   background-position: bottom center !important;
   background-size: 10%;
   height: 100%;
}

body{
    height: 600px;   
}

#footer {
  border-top: 3px solid #ccc;
  background: #A1C656;
  }
  
a:link {color:black;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:blue;}  /* mouse over link */
a:active {color:blue;}  /* selected link */